# 파이썬의 자료형 
## 리스트, 튜플, 딕셔너리, 집합

### Python 에서 여러 개의 값들을 묶어서 사용할 때 쓸 수 있는 방법들이 몇가지가 있는데, 이들을 몇가지 기준으로 구분해볼 수 있다.

1. 순서가 있는가?
    - Yes : 리스트, 튜플
    - No : 딕셔너리, 집합
2. 수정이 가능한가?
    - Yes : 리스트, 집합
    - No : 튜플 (딕셔너리는 key와 value 값으로 이루어져 있어서 key 값은 수정이 불가능하고 value 값은 수정이 가능하다.)

### 1. 리스트

In [1]:
lists = [1,2,3,4,5]
print(lists)

[1, 2, 3, 4, 5]

In [3]:
print('lists[0]:  ',lists[0], '\nlists[-0]: ', lists[-0])
# 순서가 있기 때문에 0번째, 즉 첫번째 요소 값인 숫자를 출력해라.
# 0과 -0은 같기 때문에 0번째를 뜻한다. 즉 첫번째 요소 값인 숫자를 출력해라.

lists[0]:   1
lists[-0]:  1

In [4]:
lists[-1]
# 마이너스를 붙여서 뒤에서부터 순서대로 접근도 가능하다. 
# 0과 -0은 값기 때문에 뒷부분 첫번째 요소가 -1부터 시작한다.

5

In [5]:
lists = [1,2,3,[4,5,[6,7]]]
# 이중 삼중 리스트를 만드는 것도 가능하다.
print(lists)

[1, 2, 3, [4, 5, [6, 7]]]

In [6]:
print('lists[3]:       ',lists[3], '\nlists[3][2]:    ',lists[3][2], 
      '\nlists[3][2][1]: ',lists[3][2][1])

lists[3]:        [4, 5, [6, 7]]
lists[3][2]:     [6, 7]
lists[3][2][1]:  7

##### 이렇게 리스트의 요소 값을 찾아 얻어오는 것을 리스트 인덱싱이라고 한다. 다음은 리스트 슬라이싱이라고 한다.

In [7]:
lists = [1,2,3,4,5]
print('lists[0:2]: ', lists[0:2], '\nlists[2:5]: ', lists[2:5])
# lists['입력요소 이상' : '입력 요소 직전까지']

lists[0:2]:  [1, 2]
lists[2:5]:  [3, 4, 5]

In [8]:
lists = [1,2,3,4,5]
print('lists[:2]:  ', lists[:2], '\nlists[2:]:  ', lists[2:], 
      '\nlists[-2:]: ', lists[-2:], '\nlists[:-2]: ', lists[:-2])

lists[:2]:   [1, 2]
lists[2:]:   [3, 4, 5]
lists[-2:]:  [4, 5]
lists[:-2]:  [1, 2, 3]

##### 리스트에 연산자를 사용해 append 할수도 있다.

In [83]:
a = [1,2,3,1]
b = [4,5,6]

print('a + b:       ', a+b, '\nb + a:       ',b+a, '\n(a + b) * 2: ', (a+b)*2)

a + b:        [1, 2, 3, 1, 4, 5, 6]
b + a:        [4, 5, 6, 1, 2, 3, 1]
(a + b) * 2:  [1, 2, 3, 1, 4, 5, 6, 1, 2, 3, 1, 4, 5, 6]

##### 리스트의 값을 수정할 수 있다.

In [69]:
a[1]

2

In [70]:
#공백으로 수정
a[1] = []
a

[1, [], 3, 1]

In [71]:
# 두번째 위치를 값을 삭제한다.
del(a[1])
a

[1, 3, 1]

In [72]:
#remove 함수는 해당 값을 전부 없애주는 것이 아닌 첫 번째 나오는 1을 하나 없애준다. 
a.remove(1)
a

[3, 1]

In [73]:
#리스트의 마지막에 요소를 추가해주는 append()
a.append(5)
a

[3, 1, 5]

In [74]:
#순서대로 오름차순 정렬해주는 sort(), 리스트의 요소들을 역순으로 뒤집어주는 reverse()
a.sort(reverse=True)
a

[5, 3, 1]

##### 이 외에도 값을 입력하면 입력한 값의 위치를 알려주는 index(), 리스트의 요소를 리턴해주면서 그 요소를 삭제하는 pop(), 리스트에 포함된 요소의 개수를 세주는 count(), 리스트와 리스트를 더해주는 extend()함수가 있다.

---

### 2. 튜플

#### 튜플(tuple)은 터플이라고도 하며 리스트와 비슷하지만, 튜플은 값을 변화시킬 수 없다. (삭제, 변경이 안된다.) 프로그램이 실행되는 동안 값이 변하지 않았으면 하는 고정값들은 튜프을 이용해주면 좋다.

#### 튜플의 모습은 다음과 같다.

In [101]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a','b',('ab','cd'))

In [109]:
print('t1: ', t1, '\nt2: ', t2, '\nt3: ', t3, '\nt4: ', t4 , '\nt5: ', t5)

t1:  ()
t2:  (1,)
t3:  (1, 2, 3)
t4:  (1, 2, 3)
t5:  ('a', 'b', ('ab', 'cd'))

리스트와 유사해보이는데, 차이점은 괄호()를 사용한다는것과, **t2처럼 한개의 요소를 가질 때에는 뒤에 콤마를 붙이는것**, 그리고 괄호()를 생략해도 된다는 점이다.

In [120]:
t2 = (1,)
print('type: ', type(t2), '\nt2[0]: ', t2[0])

type:  <class 'tuple'>
t2[0]:  1

In [127]:
t2 = 1
print('type: ', type(t2))
t2[0]
#한개의 요소를 가질때 뒤에 콤마를 붙이지 않으면 int, str, float 형 등으로 정의된다.

type:  <class 'int'>

TypeError: 'int' object is not subscriptable

#### 인덱싱, 슬라이싱, 더하기, 곱하기 등은 리스트와 같은 방식으로 해줄수가 있다.

In [170]:
t1 = (1,2,3,4,5)
print('t1[2]:      ', t1[2], '\nt1[1:]:     ', t1[1:], 
      '\nt1+t1[-1:]: ', t1+t1[-1:], '\nt1*2:       ', t1*2)

t1[2]:       3
t1[1:]:      (2, 3, 4, 5)
t1+t1[-1:]:  (1, 2, 3, 4, 5, 5)
t1*2:        (1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [154]:
print(type(t1[1]))
t1 + t1[1]
#t1의 두번째 값을 가져오면 int 형으로 가져오므로 더하기를 하면 에러가 발생한다.

<class 'int'>

TypeError: can only concatenate tuple (not "int") to tuple

In [156]:
# 하기와 같이 tuple type 으로 받아서 더하기를 하여야 한다.
print(type(t1[1:2]))
t1 + t1[1:2]

<class 'tuple'>

(1, 2, 3, 4, 5, 2)

---

### 3. 딕셔너리

#### 딕셔너리 자료형에는 중괄호 {} 가 쓰인다. 딕셔너리(Dictionary) 자료형은 Key 값과 Value 값들이 짝지어서 이루어져 있으며, Key 값을 이용하여 각각의 Value 값을 가져올 수 있다.

In [185]:
dic = {'name' : 'john'}
print(dic)

{'name': 'john'}

In [195]:
print('dic[''name'']:   ', dic['name'], '\ndic.get(''name'')', dic.get('name'))

dic[name]:    john
dic.get(name) john

In [202]:
# 존재하지 않는 Key로 Value값을 가져오려할 때, 
# dic[키값] 방법은 Key 오류가 발생하고, get함수는 None을 리턴한다

In [201]:
print(dic['age'])

KeyError: 'age'

In [207]:
print(dic.get('age'))
print(dic.get('age','Default Value')) # None 값 default value 처리 가능

None
Default Value

In [65]:
# 동일한 key 를 중복으로 넣으면 마지막 값으로 업데이트 처리된다.
dic = {'name':'john', 'name':'james'} 
dic.get('name')

'james'

##### 새로운 Key 값과 Value 값 추가 가능

In [52]:
dic = {'name':'john'}

In [53]:
dic['phone'] = '01099998282'
dic

{'name': 'john', 'phone': '01099998282'}

In [16]:
#파이썬 3.0부터는 메모리 낭비를 줄이기 위해 리스트가 아닌 
# dcit_keys라는 객체를 리턴해준다. 만약 이전 버전에서처럼 리스트를 리턴받고싶으면,
# list(dic.keys())를 사용하면 된다.dcit_values와 dcit_items도 마찬가지.
print(dic.keys())
print(list(dic.keys()))

dict_keys(['name', 'phone'])
['name', 'phone']

In [55]:
# 해당 Key 값이 딕셔너리 안에 있는지 조사하기
'name' in dic.keys()

True

In [58]:
# 해당 Value 값이 딕셔너리 안에 있는지 조사하기
'john' in dic.values()

True

In [39]:
# Key, Value 값 전부 지우기
# 딕셔너리의 모든 요소를 삭제한다. 빈 딕셔너리는 {}로 표현된다.
dic.clear()
dic

{}

### 4. 집합

##### 집합 자료형은 set 키워드를 통해 만들 수 있다.

In [77]:
s1 = set([1,2,3])
s2 = set('hello')

In [80]:
print(s1)
print(s2)

{1, 2, 3}
{'o', 'h', 'e', 'l'}

#### 집합 자료형의 특징
1. 중복을 허용하지 않는다.
2. 순서가 없다. (unordered)

##### 딕셔너리나 집합과 같은 순서가 없는 자료형에서는 인덱싱을 통해 값을 얻어낼 수가 없다. 그래서 집합을 인덱싱하고 싶을 때는 아래에서처럼 리스트나 튜플의 형태로 변환해 주어야 한다.

In [95]:
print(list(s1))
print(list(s2))

[2, 3]
['o', 'h', 'e', 'l']

In [91]:
print(tuple(s1)[1:])
print(tuple(s2)[1:])

(2, 3)
('h', 'e', 'l')

##### 집합 자료형은 이름이 집합이니 만큼 우리가 중학교 고등학교때 배웠던 교집합, 합집합, 차집합을 해줄 수 있다.

In [96]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [105]:
# 교집합 구하기
print('s1 & s2: ', s1 & s2)
print('s1.intersection(s2): ', s1.intersection(s2))

# 합집합 구하기
print('s1 | s2: ', s1 | s2)
print('s1.union(s2): ', s1.union(s2))

# 차집합 구하기
print('s1 - s2: ', s1 - s2)
print('s1.difference(s2): ', s1.difference(s2))

s1 & s2:  {4, 5, 6}
s1.intersection(s2):  {4, 5, 6}
s1 | s2:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
s1.union(s2):  {1, 2, 3, 4, 5, 6, 7, 8, 9}
s1 - s2:  {1, 2, 3}
s1.difference(s2):  {1, 2, 3}

#### 집합 자료형에 값을 추가하거나 삭제할 수 있다.

In [109]:
# 값 1개 추가하기
s1 = set([1,2,3,4])
s1.add(5)
s1

{1, 2, 3, 4, 5}

In [110]:
# 값 여러개 추가하기
s1 = set([1,2,3,4])
s1.update([5,6,7])
s1

{1, 2, 3, 4, 5, 6, 7}

In [119]:
# 특정 값 제거하기
s1 = set([1,2,3,4])
s1.remove(1)
s1

{2, 3, 4}